
    <!-- TOGGLE MENU
    ==============================-->
    <header class="header" id="top">

        <button class="menu" onclick="this.classList.toggle('opened');
            this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
            <svg width="50" height="50" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,
                29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,
                81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,
                70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,
                18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
        </button>

    <!-- SIDE MENU
    ==============================-->

        <div class="sidenav">
            <img src="{{ asset('build/images/logo-otoktone.png') }}" alt="otoktone mer vagues plage">
            <div class="side-menu">
                <a href="{{ path('home') }}">Accueil</a>
                <a href="{{ path('otoktone') }}">Otoktone</a>
                <a href="{{ path('portfolio') }}">Portfolio</a>
                <a href="{{ path('contact') }}">Contact</a>
            </div>
            <div id="legal-mentions">
                <p class="text-justify">Bienvenue sur Otoktone.fr. Ce site me sert de portfolio en ligne afin de mettre en avant mes projets et mes réalisations. L'utilisation de cookies n'est pas obligatoire, cela me permet simplement de faire le lien avec Google Annalytics afin de suivre l'audience et le référencement du site. <br>
                Bonne visite et pour toutes questions, n'hésitez pas à me contacter via la page dédiée ou directement sur les réseaux.</p>
            </div>
            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                <a id="linkedin" href="https://www.linkedin.com/in/alexandre-desmot-145a34182/"><i class="fab fa-linkedin"></i></a>
                <a id="facebook" href="https://www.facebook.com/alexotoktone/"><i class="fab fa-facebook-f"></i></a>
                <a id="github" href="https://github.com/Otoktone"><i class="fab fa-github"></i></a>
            </div>
            <div id="copyright">
                <p>Copyright © 2021 | All rights reserved | Alexandre Desmot</p>
            </div>
        </div>
        
    </header>