<!DOCTYPE html>

<html class="no-js" lang="fr" itemscope itemtype="https://otoktone.fr"> <!-- Modernizr -->

    <head>

        <!-- TARTE AU CITRON / COOKIES -->
        <script type="text/javascript" src="{{ asset('build/tarteaucitronjs/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
        });
        </script>

        <!-- HTML Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- Compatibilité IE -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="Alexandre Desmot| Conception Web | Developpeur Web | Integration | Design | Otoktone">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="author" content="Alexandre DESMOT">
        <meta name="image" property="og:image" content="{{ asset('build/thumbnail.png') }}"> <!-- A VERIFIER -->

        <link rel="icon" type="image/png" href="{{ asset('build/images/front/icons/favicon.png') }}">

        <title>{% block title %}Alexandre Desmot | Otoktone | Web | Developpeur | Design | Otoktone{% endblock %}</title>

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Alexandre Desmot | Otoktone | Web | Developpeur | Design | Otoktone">
        <meta itemprop="description" content="Alexandre Desmot| Conception Web | Developpeur Web | Integration | Design | Otoktone">
        <meta itemprop="image" content="{{ asset('build/thumbnail.png') }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://otoktone.fr">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Alexandre Desmot | Otoktone | Web | Developpeur | Design | Otoktone">
        <meta property="og:description" content="Alexandre Desmot| Conception Web | Developpeur Web | Integration | Design | Otoktone">
        <meta property="og:image" content="{{ asset('build/thumbnail.png') }}">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Alexandre Desmot | Otoktone | Web | Developpeur | Design | Otoktone">
        <meta name="twitter:description" content="Alexandre Desmot| Conception Web | Developpeur Web | Integration | Design | Otoktone">
        <meta name="twitter:image" content="{{ asset('build/thumbnail.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('front') }}
        {% endblock %}

    </head>

    <body>

        {% block body %}{% endblock %}

    </body>

        {% block javascripts %}
            {{ encore_entry_script_tags('front') }}
        {% endblock %}

</html>