{% extends "front/layout/layout.html.twig" %}

{% block title %}Alexandre Desmot | Otoktone | Web Developpeur | Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="contact" class="w-100">
        <div class="header-logo">
            <a href="{{ path('home') }}"><img class="logo-otoktone" src="{{ asset('build/images/logo-otoktone.png') }}" alt="logo otoktone.fr alexandre desmot developpeur conception web contact vannes"></a>
            <h1 class="mt-5 mb-5 ml-2 text-uppercase text-white">Otoktone | Contact</h1>
        </div>
        
        <div class="contact-container">
            <div class="left-col"></div>
            <div class="right-col">
                <div class="theme-switch-wrapper">
            </div>

            <h2>Me contacter</h2>
            <p>Laisser vos coordonnées et je vous recontacte dès que possible !</p>
            <p>Tél : 06.35.44.33.47</p>

            {% include 'flash_message.html.twig' %}

            {{ form_start(contact_form) }}
            {{ form_widget(contact_form) }}
            {{ form_row(contact_form.captchaCode) }}
            <input id="submit-button" type="submit" value="Envoyer" />
            {{ form_end(contact_form) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}