{% extends "front/layout/layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
    {#<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>#}
{% endblock %}

{% block body %}

    <!-- PORTAL
    ==============================-->
    <section id="portal">
        <div id="left-portal"></div>
        <div id="right-portal"></div>
        <button type="button" class="btn btn-primary" id="btn-portal">
        <img class="triskel" src="{{ asset('build/images/front/icons/triskel.png') }}" alt=""> 
        otoktone
        <img class="triskel" src="{{ asset('build/images/front/icons/triskel.png') }}" alt=""> 
        </button>
    </section>

    <!-- MATRIX
    ==============================-->
    <canvas></canvas>
    <i id="arrow-right" class="fas fa-angle-right text-white"></i>

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}


    <!-- PRESENTATION
    ==============================-->
 
    <div id="presentation" class="col-lg12">
        <div class="main-title">
            <span>Développeur Web</span>
            <h1>Alexandre Desmot</h1>
            <a href="https://www.linkedin.com/in/alexandre-desmot-145a34182/" class="border-btn hero-btn">LinkedIn</a>
            <!--<a href="https://www.facebook.com/alexotoktone/" class="border-btn hero-btn">Facebook</a>-->
            <a href="https://github.com/Otoktone" 
            class="border-btn hero-btn">GitHub</a>
        </div>
    </div>

    <!-- PRESENTATION 2
    ==============================-->

    <div id="presentation2" class="col-lg12 p-4">
        <div class="p-4" >
            <h2 class="text-uppercase text-white">Alexandre Desmot || Développeur Web </h2>
            <h3 class="text-white">Conception site web - Design</h3>
            <hr>
        </div>
    </div>

    <i id="arrow-left" class="fas fa-angle-left text-white"></i>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matrix') }}
    {{ encore_entry_script_tags('front') }}
{% endblock %}