{% extends "front/layout/layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
    {#<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>#}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="otoktone" class="w-100">
        <div class="header-logo">
            <img class="logo-otoktone mt-4 ml-4" src="{{ asset('build/images/logo-otoktone.png') }}" alt="logo otoktone.fr alexandre desmot">
            <h1 class="mt-5 ml-2 text-uppercase text-white">Otoktone | Portfolio</h1>
        </div>
        
            {% for post in posts %}
            <div id="skew">
                <div id="post-tableau" class="w-85 m-5 text-white">
                    <div class="portfolio-otoktone">
                        <img class="img-portfolio img-fluid" src="{{ asset('uploads/images/' ~ post.image) }}" alt="">
                        <h2 class="text-uppercase">{{ post.title }}</h2>
                        <hr>
                        <p class="text-justify">{{ post.content }}</p>
                        <button type="button" class="btn btn-info">
                            <a class="" href="#">Voir le site</a>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <h4 class="text-uppercase">-Réalisations-</h4>
            <div id="portfolio" class="col-lg-12">
            {% for post in posts %}
                    <img class="img-fluid" src="{{ asset('uploads/images/' ~ post.image) }}" alt="">
            {% endfor %}
            </div>
            
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}