{% extends "front/layout/layout.html.twig" %}

{% block title %}Alexandre Desmot | Otoktone | Web Developpeur | Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- SCROLL TO TOP -->
    {% include "front/layout/scroll-top.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="otoktone" class="w-100">
        <div class="header-logo">
            <a href="{{ path('home') }}"><img class="logo-otoktone" src="{{ asset('build/images/logo-otoktone.png') }}" alt="logo otoktone.fr alexandre desmot portfolio developpeur web"></a>
            <h1 class="mt-5 ml-2 text-uppercase text-white">Otoktone | Portfolio</h1>
        </div>

        <div id="img-bgd">
        
            {% for post in posts %}
            <div class="skew">
                <div class="post-tableau">
                    <div class="portfolio-otoktone">
                        {% if post.image %}
                            <img class="img-portfolio img-fluid" src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}">
                        {% endif %}
                            <h2 class="text-uppercase text-white">{{ post.title }}</h2>
                            <hr>
                            <p class="text-justify text-white">{{ post.content }}</p>
                        {% if post.url %}
                            <a class="btn-info" href="{{ post.url }}">Voir le site</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div id="projects">
                <h3 class="text-uppercase"> Réalisations </h3>
            </div>
            
            <div id="portfolio" class="col-lg-12">
                {% for post in posts %}
                {% if post.image %}
                    <img class="img-fluid" src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}">
                {% endif %}
                {% endfor %}
            </div>
        </div>   
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
    {{ encore_entry_script_tags('scroll-top') }}
{% endblock %}